<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835755430542-uos6h3tkqd31d8j75jfb1biaobqts3mn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835755430542-uos6h3tkqd31d8j75jfb1biaobqts3mn</string>
	<key>API_KEY</key>
	<string>AIzaSyDNC4GCDLjTOP7BqA3eXYT6eLmgHf-zMkY</string>
	<key>GCM_SENDER_ID</key>
	<string>835755430542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.niti5h.quizApp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-x-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-x-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835755430542:ios:2456a7d7ed202a47f92fdf</string>
</dict>
</plist>